<!DOCTYPE html>
<html>
<head>
<% include ./favicon_header %>
<title>Share | Captionify.com</title>
<link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.min.css"
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46129625-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46129625-3');
</script>
</head>
<body>

<div class="centerDisplay">
	<!-- HEADER -->
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_small.png">
		<p id="titleMessage">Let's get ready to share!</p>
	</div>
	<hr>

	<!-- CONTENT -->
	<div class="centerDisplayContent">
		<br>
		  <div id="facebook-section" style="display:none;">
		    <div id="facebook-not-connected-section" style="display:none;">
		    	<div id="facebook-not-enough-permissions-section" style="display:none;">
		    		<p class="text-plain-small">Looks like you do not have sufficient permissions to post to Facebook.  Please authenticate with Facebook to continue sharing.</p>
		    		<button type="button" class="btn btn-lg button-full" id="authenticate-facebook-button">Authenticate with Facebook</button>
		    		<br>
		    		<a id="facebook-cancel-link1" href="">Go back</a>
		    	</div>
		    	<div id="facebook-not-signed-in-section" style="display:none;">
		    		<p class="text-plain-small">Looks like you're not signed-in to Facebook.  Please sign-in to continue sharing.</p>
		    		<button type="button" class="btn btn-lg button-full" id="sign-in-facebook-button">Sign in to Facebook</button>
		    		<br>
		    		<a id="facebook-cancel-link2" href="">Go back</a>
		    	</div>
		    </div>
		    <div id="facebook-connected-section" style="display:none;">
		    	<table width="100%">
		    		<tr>
		    			<td valign="bottom"><p class="centerDisplayCaptionSmall">Message:</p></td>
		    			<td align="right">
		    			<button type="button" class="btn btn-lg button-full" id="facebook-cancel-button">Cancel</button>
		    			<button type="button" class="btn btn-lg button-full" id="facebook-share-button">Post on Facebook</button>
		    			</td>
		    		</tr>
		    	</table>
		    	
		    	
		    	<textarea id="facebook-share-text" class="form-control" rows="2" placeholder="Type your message here (optional)"></textarea>
		    	<p class="centerDisplayCaptionSmall">Link:</p>

		    	<a id="facebook-share-link" href="" target="_blank"></a>
		    	<p class="centerDisplayCaptionSmall">Preview:</p>
		    	<div id="facebook-preview"></div>
		    </div>
		  </div>
		  <div id="twitter-section" style="display:none;">
		    
		    <div id="twitter-not-connected-section" style="display:none;">
		    	<p class="text-plain-small">Looks like you're not signed-in to Twitter.  Please sign-in to continue sharing.</p>
		    	<button type="button" class="btn btn-lg button-full" id="sign-in-twitter-button">Sign in to Twitter</button>
		    	<br>
		    	<a id="twitter-cancel-link" href="">Go back</a>
		    </div>
		    <div id="twitter-connected-section" style="display:none;">
		    	<table width="100%">
		    		<tr>
		    			<td valign="bottom"><p class="centerDisplayCaptionSmall">Message:</p></td>
		    			<td align="right">
		    			<button type="button" class="btn btn-lg button-full" id="twitter-cancel-button">Cancel</button>
		    			<button type="button" class="btn btn-lg button-full" id="twitter-share-button">Post on Twitter</button>
		    			</td>
		    		</tr>
		    	</table>
		    	
		    	
		    	<textarea id="twitter-share-text" class="form-control" rows="2" placeholder="Type your message of up to 100 characters here (optional)." maxlength="100"></textarea>
		    	<p class="centerDisplayCaptionSmall">Link:</p>

		    	<a id="twitter-share-link" href="" target="_blank"></a>
		    	<p class="centerDisplayCaptionSmall">Preview:</p>
		    	<div id="twitter-preview"></div>
		    </div>
		  </div>
	</div>
</div>

<script>
	var id = '<%=id%>';
	var type = '<%=type%>';
	var target = '<%=target%>';
	var referrer = '<%=referrer%>';
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/third-party/jquery/js/jquery.min.js"></script>
<script src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/utils.min.js"></script>
<script src="/js/share.min.js"></script>
<script src="/js/header.min.js"></script>
</body>
</html>